:root {
--primery-text-color: #434455;
--title-text-color: #2E2F42;
--background-color-hero: #2E2F42;
--accent-color: #4D5AE5;
--background-color: #ffffff;
--button-color: #ffffff;
--footer-logo: #F4F4FD;
--background-color-cection: #F4F4FD;
--background-color-footer: #2E2F42;
--color-hover-nav: #434455;
--time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3, 
p {
margin-top: 0;
margin-bottom: 0;
}



ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
img {
    display: block;
}
button {
    cursor: pointer;
}
body {
    color:var(--primery-text-color);
    background-color:var(--background-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
}
/* heder */
/* -----------------------------HEDER --------------------------*/

.conteiner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
}


@media screen and (min-width: 480px) {
    .conteiner {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .conteiner {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .conteiner {
        width: 1160px;
    }
}

@media screen and (max-width: 767px) {
    .page-heder-link {
        display: none;
        }
    .contacts {
        display: none;
}
}
.page-header {
    display: flex;
    align-items: baseline;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 24px;
    padding-bottom: 24px;
}
.page-header-conteiner {
    position: relative;
    display: flex;
    align-items: center;
    align-items: baseline;
    justify-content: space-between;
}
@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}
.menu-toggle {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
.menu-toggle-close{
border-radius: 50%;
background-color: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
}
.menu-toggle-open {
position: absolute;
    top: 0px;
    right: 16px;
    width: 32px;
    height: 22px;
}
.mobile-menu_close-icon {
    padding: 8px;
    align-items: center;
}
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff; 
}
.menu-conteiner {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 796px;
    background-color: #ffffff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    
}
.menu-conteiner.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}
.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}
.social-icons-mobile-items {
    display: flex;
    align-items: flex-start;
 
    gap: 56px;
}

.social-list-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: baseline;
}
.logo-blu {
    color:var(--accent-color);
}
.logo {
    color:var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}
.mobile-nav {
    color: rgba(46, 47, 66, 1);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    list-style-type: none;
    margin-bottom: 284px;
}
.mobile-nav-item {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
}
.mobile-section {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
}

.mobile-nav-item:not(:last-child) {
    margin-bottom: 40px;
}

.social-icons-mobile-items {
    margin-bottom: 0px;
}
.stems-link-contacts {
    display: flex;
    flex-direction: column;
}
.mobile-contacts-items {
    margin-bottom: 48px;
    list-style-type: none;
}
.mobile-link-first {
    color: rgba(77, 90, 229, 1);
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
}
.mobile-section {
    list-style-type: none;
    text-decoration: none;
}
.mobile-studio {
    color: #404BBF;
}
.mobile-portfolio {
    color: #404BBF;
}
.mobile-link-second {
    color: rgba(67, 68, 85, 1);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 40px;
}
.first {
    margin-bottom: 40px;
}
.mobile-section:focus {
    color: rgba(64, 75, 191, 1);
}

@media screen and (min-width: 768px) {
    .page-header-conteiner {
        display: flex;
        align-items: center;
       
    }
    .page-heder-link {
        display: flex;
        gap: 40px;
        
    }
        .list-contacts {
            margin-top: 4px;
        }
    .nav-header {
        position: relative;
        list-style-type: none;
    }
    .heder-link {
        text-decoration: none;
        color: var(--title-text-color);
        font-weight: 600;
        line-height: 1.5;
        padding-top: 24px;
        padding-bottom: 24px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--time-function);
        
        }
    .heder-link:hover {
        color: rgba(64, 75, 191, 1);
    }
    .heder-link:focus {
        color: rgba(64, 75, 191, 1);
    }
        .heder-contacts:hover {
            color: rgba(64, 75, 191, 1);
        }
        .heder-contacts:focus {
            color: rgba(64, 75, 191, 1);
        }
    .studio::after {
        position: absolute;
        content: " ";
        display: block;
        border-radius: 2px;
        width: 100%;
        background-color: #4D5AE5;
        height: 4px;
        bottom: -100%;
        left: 0%;
}
.heder-link-portfolio::after {
    position: absolute;
    content: " ";
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #4D5AE5;
    bottom: -110%;
    left: 0%;
}

    .studio {
        color: #4D5AE5;
}

  .heder-link-portfolio {
    color: #4D5AE5;
  }
    .page-nav {
        display: flex;
        align-items: baseline;
    }
    .heder-contacts {
        color: rgba(67, 68, 85, 1);
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }
    .contacts {
        
      
        list-style-type: none;
    }
    .logo {
        margin-right: 120px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .page-header {
        padding-top: 0px;
        padding-bottom: 0px;
}
}

@media screen and (min-width: 1200px) {
    .contacts {
        display: flex;
        gap: 40px;
    }
}

/*--------------------------HERO-------------------------------*/

@media screen and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/homework7/mobile-people-office.jpg);
        max-width: 428px;
    }
    .conteiner-hero {
        padding-top: 112px;
        padding-bottom: 112px;
    }
    .hero-title {
        font-size: 36px;
        line-height: 1.1;
        width: 318px;
        margin-bottom: 72px;
    }
    .modal {
        width: 392px;
        height: 586px;
    }
}
.hero-button {
    display: inline-block;
    background-color: var(--accent-color);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    width: 169px;
    border: solid var(--accent-color);
}
.hero {
    display: flex;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}
.hero-title {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.send {
    display: block;
    margin: auto;
    background-color: var(--accent-color);
    margin: auto;
    color: #ffffff;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 0px
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/homework7/mobile-people-office@2x.jpg);
    }
}


@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/homework7/tablet-people-office.jpg);
        max-width: 768px;
       
    }
    .conteiner-hero {
            padding-top: 112px;
            padding-bottom: 108px;
        }
    .hero-title {
        font-size: 56px;
        line-height: 1.01;
        width: 494px;
        margin-bottom: 40px;
    }
    .modal {
        width: 408px;
        height: 586px;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/homework7/tablet-people-office@2x.jpg);
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/homework7/desktop-people-office.jpg);
        max-width: 1440px;
        
    }
        .conteiner-hero {
            padding-top: 188px;
            padding-bottom: 188px;
        }
    .hero-title {
        font-size: 56px;
        line-height: 1.01;
        
        margin-bottom: 48px;
    }
    .modal {
        height: 584px;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/homework7/desktop-people-office@2x.jpg);
    }
}

/*-----------------------------Benefits--------------------------*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.decor-benefits {
    list-style-type: none;
}
.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    color: rgba(46, 47, 66, 1);
}
.section-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--primery-text-color);
}


@media screen and (max-width: 767px) {
    .benefits-icons {
        display: none;
    }
.decor-benefits {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.title {
   text-align: center;
   margin-bottom: 8px;
   font-size: 36px;
   font-weight: 700;
}
.section {
    padding-top: 96px;
    padding-bottom: 96px;
}
}
@media screen and (min-width: 768px) {
    .benefits-icons {
            display: none;
        }
    .decor-benefits {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
    }
        .section {
        padding-top: 96px;
        padding-bottom: 96px;
        }
        .title {
        margin-bottom: 8px;
    }
    .benefits-list-items:nth-child(-n + 2) {
        margin-bottom: 72px;
    }
}
@media screen and (min-width: 1200px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
        }
        .title {
            font-size: 20px;
        }
    .benefits-list {
        display: flex;
     
        height: 112px;
        background-color: #F4F4FD;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }
        .benefits-icons {
            display: block;
            justify-content: center;
            align-items: center;
            margin-right: auto;
            margin-left: auto;
        }
    .decor-benefits {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
    .benefits-list-items:nth-child(-n + 2) {
        margin-bottom: 0px;
    }
}
/*-----------------------------What are we doing-----------------------*/
.title {
    
    font-weight: 600;
    line-height: 1.2;
}
 .section-tile {
     font-weight: 700;
     color: var(--title-text-color);
     font-size: 36px;
     line-height: 1.11;
     text-align: center;
     letter-spacing: 0.02em;
     margin-bottom: 72px;
 }
@media screen and (max-width: 767px) {
    .conteiner-doing {
        display: none;
    }
    .doing {
        padding-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media screen and (min-width: 768px) {
    .conteiner-doing {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .conteiner-doing {
        display: block;
    }
    .decor {
        list-style-type: none;
        
    }
.wedoing {
margin-bottom: 120px;
}
}

/*--------------------Our Team-----------------*/
.team-item {
    box-shadow: 0px 1px 0px 1px rgba(46, 47, 66, 0.16);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-color)
}
.team-section {
    background-color: var(--background-color-cection);
}
.title-team {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
}
.team-page {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 12px;
}
.social-list-icons:hover {
    background-color: #404BBF;
}
.social-list-icons:focus {
    background-color: #404BBF;
}

.social-list-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
    .team-section {
        margin-right: auto;
        margin-left: auto;
        padding-top: 96px;
        padding-bottom: 128px;
        }
    .team {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 72px;
        width: 264px;
        margin-right: auto;
        margin-left: auto;
        }
} 
@media screen and (min-width: 768px) {
    .team-section {
            padding-bottom: 96px;
        }
    .doing {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .team {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 64px 24px;
    }
    
        .team-page {
            padding-left: 16px;
            padding-right: 16px;
        } 
    }

@media screen and (min-width: 1200px) {
.team-section {
    padding-bottom: 120px;
}
}

/*------------------------CUCTOMERS----------------------*/

.customers {
    display: block;
    width: 188px;
    height: 88px;
    border: solid 1px #8E8F99;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}

.customers-icon {
    fill: #8E8F99;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}

.customers:hover {
    border: solid 1px #4D5AE5;
}

.customers:focus {
    border: solid 1px #4D5AE5;
}

.customers:hover .customers-icon {
    color: #4D5AE5;
    fill: #4D5AE5;
}

.customers:focus .customers-icon {
    color: #4D5AE5;
    fill: #4D5AE5;
}

@media screen and (max-width: 767px) {


.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 72px 16px;
    margin-left: auto;
    margin-right: auto;
}



}

@media screen and (min-width: 768px) {
.customers {
    width: 168px;
}
.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 72px 24px;
}
}

@media screen and (min-width: 1200px) {
    .customers-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            gap: 24px;
        }
}

/*-------------------------------FUTER-------------------------------*/

.section-footer {
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-footer {
    background-color: var(--background-color-footer);
}
.futer-list {
    display: flex;
    flex-wrap: wrap;
}
.footer-logo {
    color: var(--footer-logo);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo-blu {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
}

.footer-text {
    line-height: 1.5;
    color: #E7E9FC;
    width: 264px;
    margin-top: 16px;
}

.title-futer {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 16px;
    font-size: 16px;
}

.futer-icon {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #434455;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}

.futer-icon:hover {
    background-color: #31D0AA;
    border: 1 px solid #31D0AA;
}

.futer-icon:focus {
    background-color: #31D0AA;
    border: 1 px solid #31D0AA;
}

.input-futer {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #2E2F42;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #FFFFFF;
   
}
.futer-button {
    position: relative;
    display: flex;
    width: 165px;
    height: 40px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: 1px;
    gap: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    border-color: transparent;
    letter-spacing: 0.04em;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {

.footer-text {
    width: 268px;
    text-align: justify;
}
.futer-list-icon {
    display: flex;
    gap: 16px;
    
}

.futer-Subscribe {
    display: flex;
    flex-direction: column; 
    margin-top: 72px;
}
.form-futer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-futer {
    width: 364px;   
    height: 40px;
    margin-bottom: 16px;        
}
.conteiner-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.futer-button {
    margin-left: auto;
    margin-right: auto;
}
.conteiner-list {
    margin-top: 72px;
}
.Subscribe-text {
    margin-bottom: 16px;

}
}
@media screen and (max-width: 380px) {
    .input-futer {
        width: 300px;
    }

}
@media screen and (min-width: 768px) {
.conteiner-footer {
    display: flex;
    flex-wrap: wrap;
    
    
}
    .futer-list-icon {
    display: flex;
    gap: 16px;
   
}
.box {
    margin-left: 89px;
}
.form-futer {
    display: flex;
    gap: 24px;
}
.futer-Subscribe {
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    margin-left: 89px;

}
.Subscribe-text {
    margin-bottom: 16px;
}
.conteiner-list {
    margin-left: 24px;
}
}

@media screen and (min-width: 1200px) {
.input-futer {
    height: 40px;
}
.futer-Subscribe {
    margin-left: 80px;
    margin-top: 0px;
}
.conteiner-list {
    margin-left: 120px;
}
.box {
    margin-left: 0px;
}
}

.item {
    padding-top: 0px;
}
.wedoing {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.doing {
    padding-top: 0px;
}















/*  PAGE2------------portfolio */

.filter-portfolio {
    color: var(--accent-color);
    background-color: #F4F4FD;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    vertical-align: baseline;
    letter-spacing: 0.02em;
    font-weight: 700;
    max-width: 126px;
    border: solid 1px #E7E9FC;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    transition-property: background-color, box-shadow, color, border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}
.filter-portfolio:hover {
    background-color: var(--accent-color);
    border-color: transparent;
    color: var(--button-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.filter-portfolio:focus {
    background-color: var(--accent-color);
    color: var(--button-color);
    border-color: transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    
}

.portfolio-title {
    color: var(--title-text-color);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 8px;
}
.portfolio-text {
    line-height: 1.5;
    margin-top: 8px;
    color: #434455;
}

.portfolio-section {
    text-decoration: none;
    display: block;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}
.portfolio-section:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-section:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.page-decor {
display: flex;
flex-wrap: wrap;
}
.portfolio {
    border-left: 0.5px solid;
    border-bottom: 0.5px solid;
    border-right: 0.5px solid;
    border-color: #F4F4FD;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}
.overlay-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    font-weight: 400;
    color: #F4F4FD;
    width: 100% ;
    height: 100%;
    background-color: #4D5AE5;
    padding: 40px 32px 164px 32px;
    overflow: auto;
    transform:translate(0, 100%);
    transition: transform 250ms var(--time-function);
}
.portfolio-section:hover .overlay,
.portfolio-section:focus .overlay {
transform: translate(0, 0);
}

@media screen and (max-width: 767px) {
.page-decor {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    }
.overlay {
    width: 396px;
    }
.decor-portfolio:not(:last-child) {
    margin-bottom: 24px;
    }
.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px 24px;
    margin-bottom: 48px;
    }
.page-section {
    padding-top: 48px;
    padding-bottom: 48px;
    }
}
@media screen and (min-width: 768px) {
.page-decor {
    column-gap: 24px;
    row-gap: 48px;
    }
.page-section {
    padding-top: 64px;
            
}
.filter {
margin-bottom: 64px;
}
}

@media screen and (min-width: 1200px) {
.page-section {
        padding-top: 96px;

    }
        .filter {
            margin-bottom: 72px;
        }
}







/*MODAL WINDOW*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms var(--time-function);
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(252, 252, 252, 1);
    border-radius: 4px;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--time-function) opacity 250ms var(--time-function);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-top: 72px;
}
.modal-button {
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-button:hover {
    background-color: #404BBF;
    fill: #FFFFFF;
}
.modal-button:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    border:#404BBF;
}
.form {
    width: 100%;
}
.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
}
.form-field:nth-child(-n+4) {
    margin-bottom: 8px;
}
.title-form {
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    
    margin-bottom: 16px;
}
.form-field input {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 38px;
    margin: 0px;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border: 1px;
    border-radius: 4px;
    background-color: #FCFCFC;
}
.holder {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border: 1px;
    border-radius: 4px;
    background-color: #FCFCFC;
    resize: none;
    height: 120px;
}
.label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #8E8F99;
    padding: 0px;
    text-align: left;
    margin-bottom: 4px;
}
.accept {
    display: flex;
    align-items: baseline;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;
    color: #8E8F99;
    font-weight: 400;
    font-size: 12px;
    align-items: center;
}
.Privacy-Policy {
    color: var(--accent-color);
    text-decoration: underline;
}
.checkbox-hero {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.icon-form {
    position: absolute;
    bottom: 14px;
}

.grup {
    position: relative;
    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}
.icon-form {
position: absolute;
left: 19px;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: var(--time-function);
}
.grup:focus+.icon-form {
    fill: var(--accent-color);
}
.grup:focus {
outline: 1px solid var(--accent-color);
}
.checkbox-hero-icon {
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    fill: #F4F4FD;
    margin-right: 8px;
    background-color: #F4F4FD;  
}
.label-checkbox-modal {
display: flex;
align-items: center;
}
.checkbox-hero:checked ~ .checkbox-hero-icon {
background-color: #404BBF;
border: #404BBF;
border: 1.25px solid #404BBF;
}

.Subscribe-text {
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
@media screen and (max-width: 380px) {
    .modal {
      padding-left: 50px;
      padding-right: 50px;
    }
    .hero-title {
        width: 250px;
    }
    .modal-button {
        right: 50px;
    }
}